@import '../../../styles/settings.scss';

.button {
  background: $color-success;
  border: none;
  border-radius: $radius;
  width: 50px;
}

.button:hover {
  background: darken($color-success, 20%);
}

.button i {
  color: #fff;
  font-size: $base-size * 1.5;
}
