@import '../../../styles/settings.scss';

.header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.mainInfoWrapper {
  padding: 0 120px;
}

.tempWrapper {
  padding: 0 80px;
}

.paramName {
  font-weight: bold;
  font-size: $base-size * 1.5;
}

.param {
  font-size: $base-size * 1.5;
  padding-right: 0;
}

.param_feelsLike {
  font-size: $base-size * 1.5;
  color: lighten($color-dark, 20%);
  padding-left: 0;
}
