$color-light: #fff;
$color-dark: #0a3d62;
$color-success: #b8e994;
$color-warning: #b71540;
$color-light2: #82ccdd;
$color-text: #000;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$image-size: 128px;
$transition: all 0.5s;
