@import '../../../styles/settings.scss';

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.date {
  font-size: $base-size * 2;
  margin: 0;
}

.tempWrapper {
  display: flex;
  justify-content: center;
}

.temp {
  font-size: $base-size * 2;
  margin: 0;
}

.temp span {
  color: lighten($color-dark, 20%);
  margin-left: 10px;
}

.imageWrapper {
  display: flex;
  justify-content: flex-end;
}

.image {
  margin: 0;
  width: $image-size/2;
  height: $image-size/2;
  text-align: right;
}
